In [7]:
import json
import numpy as np
import pandas as pd

In [8]:
data = json.load(open('hourly_electricity_demand_CA.json'))

In [27]:
df = pd.DataFrame(data['series'][0]['data'])
df = df.rename(columns = {0 : "Timestamp",
                          1 : "Demand(mwh)"})

In [28]:
df

            Timestamp  Demand(mwh)
0      20211230T12-08        28948
1      20211230T11-08        29684
2      20211230T10-08        30361
3      20211230T09-08        30493
4      20211230T08-08        29981
...               ...          ...
56984  20150701T05-07        31199
56985  20150701T04-07        31955
56986  20150701T03-07        33243
56987  20150701T02-07        35171
56988  20150701T01-07        38210

[56989 rows x 2 columns]